
.content .slide-ad {
    width: 180px;
    height: 320px;
    background-color: greenyellow;
    float: right;
}

.carousel-inner .slide-title {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 15px;
    margin: 0;
    font-size: .16rem;
    line-height: .42rem;
    font-weight: 400;
    color: #fff;
    box-sizing: border-box;
    background: #333;
    background: rgba(0, 0, 0, .4);
}

.carousel-inner .slide-title a {
    display: block;
    color: #fff;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.flex-control-nav {
    z-index: 2;
    width: 60px;
    height: 12px;
    left: auto;
    right: 15px;
    bottom: 0;
    margin: 0 0 .15rem 0;
}

.flex-control-nav li {
    margin: 0 0 0 8px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
}

.flex-control-nav li.active {
    background-color: #4285f4;
}

.sec-panel {
    width: 100%;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.sec-panel-head {
    padding: 0 10px;
}

.sec-panel-body {
    padding: 15px 9px;
}

.topic-list {
    display: table;
    width: 100%;
    word-spacing: -1em;
    padding: 0;
    line-height: 1;
    overflow: hidden;
    margin-bottom: -16px;
}

.topic {
    padding: 0 6px;
    margin: 0 0 15px 0;
    display: inline-block;
}

.topic img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.topic span {
    display: block;
    margin-top: 10px;
    font-size: .14rem;
    line-height: 20px;
    text-align: center;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    transition: all .3s ease-out;
}

.sec-panel-head h1 {
    margin: 0;
    padding: 0;
    font-size: .18rem;
    line-height: 48px;
    font-weight: 500;
    color: #333;
}

.sec-panel-head h2 {
    margin: 0;
    padding: 0;
    font-size: .18rem;
    line-height: 48px;
    font-weight: 500;
    color: #333;
    border-bottom: 1px solid #efefef;
}

.sec-panel-head .more {
    float: right;
    font-size: .13rem;
    font-weight: 400;
    color: #999;
    transition: all .3s ease-out;
}

.cover-container {
    border-radius: 2px;
    overflow: hidden;
}

.nav-tabs {
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    border-bottom: 1px solid #efefef;
    white-space: nowrap;
    display: block;
}

.nav-tabs::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
}

.nav-tabs .tab {
    position: relative;
    display: inline-block;
    margin-right: 31px;
    vertical-align: middle
}

.nav-tabs .tab:after {
    position: absolute;
    top: 17px;
    right: -16px;
    content: "";
    width: 1px;
    height: 16px;
    background: #efefef
}

.nav-tabs .tab:last-child {
    margin-right: 0
}

.nav-tabs .tab:last-child:after {
    display: none
}

.nav-tabs .tab a {
    display: block;
    font-size: 16px;
    font-size: .16rem;
    color: #666;
    line-height: 48px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    text-decoration: none
}

.nav-tabs .tab a:hover {
    color: #4285f4
}

.nav-tabs .tab a.active {
    color: #4285f4;
    font-weight: 500;
    border-bottom: 2px solid #4285f4
}

.nav-tabs .tab a.active:hover {
    border-bottom-color: #4285f4
}

.tab-pane {
    list-style-type: none;
    padding: 0 10px;
    margin-bottom: 20px;
}

.tab-pane .item {
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
}

.tab-pane .item .item-img {
    width: 245px;
    height: 153px;
    position: relative;
    float: left;
    overflow: hidden;
    transition: box-shadow .3s ease 0s;
}

.tab-pane .item .item-img img {
    width: 100%;
    height: 152px;
    vertical-align: top;
}

.tab-pane .item .item-content {
    min-height: 152px;
    margin-left: 265px;
    position: relative;
}

.tab-pane .item .item-content .item-title {
    font-size: .16rem;
    margin: 0 0 10px;
    line-height: 1.4;
}

.tab-pane .item .item-content .item-title a {
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-decoration: none;
}

.tab-pane .item .item-content .item-meta {
    width: 100%;
    height: 20px;
    font-size: .13rem;
    position: absolute;
    bottom: 0;
    color: #999;
}

.tab-pane .item .item-content .item-meta-li {
    vertical-align: top;
    display: inline-block;
    line-height: .2rem;
    margin-right: 10px;
    float: none !important;
}

.tab-pane .item .item-content .item-meta .views {
    margin: 0;
    float: right;
}

.tab-pane .item .item-content .item-meta-li .oi {
    font-size: .1rem;
}

.tab-pane .item .item-content .item-excerpt {
    height: .44rem;
    line-height: .22rem;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.slide {
    width: 100%;
    margin: 0 0 20px 0;
}

.slide-left {
    width: 670px;
    height: 320px;
    overflow: hidden;
    direction: ltr;
    background: #fff;
    float: left;
}

.slide .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1219px) {
    .slide {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .slide .carousel-inner .carousel-item img {
        width: 100%;
        height: auto;
    }

    .slide-left {
        width: auto;
        height: auto;
    }

    .content .slide-ad {
        display: none;
    }

    .sec-panel-body {
        padding: 15px 4px;
    }

    .sec-panel {
        margin: 0 0 20px 0;
    }

    .tab-pane .item .item-img {
        width: 245px;
        height: 153px;
    }

    .tab-pane .item .item-img img {
        height: 152px;
    }

    .tab-pane .item .item-content {
        min-height: 152px;
        margin-left: 265px;
    }

    .tab-pane .item .item-content .item-meta-li {
        display: inline-block;
        float: none !important;
    }

    .tab-pane .item .item-content .item-excerpt {
        height: .44rem;
        line-height: .22rem;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
    }

}

@media screen and (max-width: 991px) {

    .slide {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .content .slide-ad {
        display: none;
    }

    .slide .carousel-inner .carousel-item img {
        width: 100%;
        height: auto;
    }

    .slide-left {
        width: auto;
        height: auto;
    }

    .sec-panel-body {
        padding: 15px 4px;
    }

    .sec-panel {
        margin: 0 0 20px 0;
    }

    .tab-pane .item .item-img {
        width: 245px;
        height: 153px;
    }

    .tab-pane .item .item-img img {
        height: 152px;
    }

    .tab-pane .item .item-content {
        min-height: 152px;
        margin-left: 265px;
    }

    .tab-pane .item .item-content .item-meta-li {
        display: inline-block;
        float: none !important;
    }

    .tab-pane .item .item-content .item-excerpt {
        height: .44rem;
        line-height: .22rem;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
    }
}

@media screen and (max-width: 767px) {

    .slide-left {
        width: auto;
        height: auto;
    }

    .content .slide-ad {
        display: none;
    }

    /*幻灯图片*/
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }

    .slide {
        margin: 0 0 15px 0;
    }

    .slide .carousel-inner .carousel-item img {
        width: 100%;
        height: auto;
    }

    .sec-panel-body {
        padding: 15px 4px;
    }

    .sec-panel {
        margin: 0 10px 20px 10px;
        width: 100%;
        overflow: hidden;
    }

    .tab-pane .item .item-img {
        width: 120px;
        height: 75px;
    }

    .tab-pane .item .item-img img {
        height: 75px;
    }

    .tab-pane .item .item-content {
        min-height: 75px;
        margin-left: 130px;
    }

    .tab-pane .item .item-content .item-excerpt {
        display: none;
    }

    .tab-pane .item .item-content .item-meta .views {
        float: right !important;
    }
}
